In [21]:
import pandas as pd
import numpy as np
from SIRModel import *
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv("./mean_score.csv", index_col=0)
log = lambda x: np.log(x) / np.log(10)

In [22]:
df.head()

          COUNTY  R2SCOREBEFORE       R2SCOREAFTER
0      Snohomish       7458.774   245947110546.035
1       Maricopa       3138.992  4788270703528.690
2    Los Angeles         42.928 11622636942632.436
3    Santa Clara        309.679   806402433549.811
4  San Francisco         12.671    39402225738.210

In [23]:
df = df[df.R2SCOREBEFORE != df.R2SCOREAFTER]
def cool_function(x):
    array = np.array(x)
    for i, item in enumerate(array):
        if item >= 10:
            array[i] = log(item)
        elif 1 <= item <= 10:
            array[i] = item/np.floor(item)
        else:
            array[i] = item
    return array
def cooler_function(x):
    OldRange = (max(x) - min(x))  
    NewRange = (0 - 1)  
    NewValue = (((x - min(x)) * NewRange) / OldRange) +1
    return NewValue

In [24]:
df.R2SCOREBEFORE = (cool_function((df.R2SCOREBEFORE).astype("float64")))
df.R2SCOREAFTER =(cool_function(df.R2SCOREAFTER.astype("float64")))

In [25]:
df = df.sort_values("R2SCOREBEFORE", ascending=False)

In [26]:
df.head(57)

              COUNTY  R2SCOREBEFORE  R2SCOREAFTER
54             Caddo          5.767         8.665
51        Miami-Dade          5.239        12.440
24           Broward          5.009        12.116
107         Ouachita          4.926         8.441
44      Philadelphia          3.992        11.921
59        Palm Beach          3.902        11.779
0          Snohomish          3.873        11.391
30              Cobb          3.577        11.105
1           Maricopa          3.497        12.680
53            Bartow          3.290         9.434
31          Gwinnett          2.933        11.186
38            Collin          2.930        11.153
7              Bexar          2.863        11.663
56             Bucks          2.816        10.928
40           Collier          2.795        10.366
49           Tarrant          2.792        11.723
20         Fort Bend          2.739        10.893
39           Alachua          2.620         9.881
42          Pinellas          2.562        11.152
3        Santa Clara          2.491        11.907
22            Washoe          2.316        10.412
19              Wake          2.231        11.122
16           Norfolk          2.182        10.744
63            Gordon          1.987         6.479
6          San Diego          1.936        11.515
32           Fairfax          1.889        11.217
60          Sarasota          1.855        10.111
29           Volusia          1.835        10.206
52         St. Johns          1.821         9.752
9             Solano          1.779         8.860
2        Los Angeles          1.633        13.065
64       St. Charles          1.602        10.654
37   Prince George's          1.491        11.135
35              Pima          1.421        11.101
15           Manatee          1.377         9.707
28          Okaloosa          1.375         8.856
62        Tuscaloosa          1.325         8.397
10           Spokane          1.248         6.761
17           Grafton          1.234         7.573
41             Pasco          1.224         9.414
5               Dane          1.158        10.289
67       Pearl River          1.144         7.826
55           Forrest          1.142         7.434
12             Marin          1.138         4.026
23             Pinal          1.135         9.565
21        Santa Rosa          1.116         8.539
4      San Francisco          1.103        10.596
65            Copiah          1.097         3.758
14            Sonoma          1.083         3.639
58             Gregg          1.075         3.431
8         Sacramento          1.074        10.348
33           Harford          1.072         6.400
66           Leflore          1.025         6.777
61      Androscoggin          0.650         4.297
13              Napa          0.005         3.263
18       Walla Walla          0.005         3.364
43          Charlton          0.005         1.738

In [27]:
len(df)

57

In [28]:
df[df.R2SCOREBEFORE >= -1].mean()

R2SCOREBEFORE   2.095
R2SCOREAFTER    9.179
dtype: float64

In [29]:
len(df[df.R2SCOREBEFORE <= 0.001])

0

In [30]:
0.783
-0.739

-0.739