In [338]:
import pandas as pd
import numpy as np
from SIRModel import *
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv("./mean_score.csv", index_col=0)

In [339]:
df.head()

          COUNTY  R2SCOREBEFORE       R2SCOREAFTER
0      Snohomish       7458.774   245947110546.035
1       Maricopa       3138.992  4788270703528.690
2    Los Angeles         42.928 11622636942632.436
3    Santa Clara        309.679   806402433549.811
4  San Francisco         12.671    39402225738.210

In [340]:
df = df[df.R2SCOREBEFORE != df.R2SCOREAFTER]
def cool_function(x):
    array = np.array(x)
    for i, item in enumerate(array):
        if item >= 10:
            array[i] = np.log(item)
        elif 1 <= item <= 10:
            array[i] = item/np.floor(item)
        else:
            array[i] = item
    return array
def cooler_function(x):
    OldRange = (max(x) - min(x))  
    NewRange = (0 - 1)  
    NewValue = (((x - min(x)) * NewRange) / OldRange) +1
    return NewValue

In [341]:
df.R2SCOREBEFORE = (cool_function((df.R2SCOREBEFORE).astype("float64")))
df.R2SCOREAFTER =(cool_function(df.R2SCOREAFTER.astype("float64")))

In [342]:
df = df.sort_values("R2SCOREBEFORE", ascending=False)

In [343]:
df.head(57)

              COUNTY  R2SCOREBEFORE  R2SCOREAFTER
54             Caddo         13.278        19.952
51        Miami-Dade         12.063        28.643
24           Broward         11.535        27.897
107         Ouachita         11.344        19.437
44      Philadelphia          9.192        27.448
59        Palm Beach          8.984        27.123
0          Snohomish          8.917        26.228
30              Cobb          8.237        25.569
1           Maricopa          8.052        29.197
53            Bartow          7.576        21.722
31          Gwinnett          6.755        25.757
38            Collin          6.746        25.680
7              Bexar          6.592        26.855
56             Bucks          6.485        25.162
40           Collier          6.436        23.868
49           Tarrant          6.429        26.993
20         Fort Bend          6.306        25.082
39           Alachua          6.032        22.751
42          Pinellas          5.898        25.679
3        Santa Clara          5.736        27.416
22            Washoe          5.333        23.973
19              Wake          5.136        25.609
16           Norfolk          5.024        24.738
6          San Diego          4.457        26.514
32           Fairfax          4.349        25.827
60          Sarasota          4.272        23.282
29           Volusia          4.224        23.500
52         St. Johns          4.193        22.455
9             Solano          4.096        20.402
2        Los Angeles          3.760        30.084
64       St. Charles          3.689        24.531
37   Prince George's          3.432        25.639
35              Pima          3.272        25.561
15           Manatee          3.170        22.352
28          Okaloosa          3.165        20.392
62        Tuscaloosa          3.050        19.335
41             Pasco          2.818        21.676
5               Dane          2.667        23.692
67       Pearl River          2.633        18.020
55           Forrest          2.630        17.117
21        Santa Rosa          2.570        19.661
4      San Francisco          2.539        24.397
63            Gordon          1.987        14.918
10           Spokane          1.248        15.568
17           Grafton          1.234        17.438
12             Marin          1.138         9.270
23             Pinal          1.135        22.023
65            Copiah          1.097         8.653
14            Sonoma          1.083         8.380
58             Gregg          1.075         7.900
8         Sacramento          1.074        23.827
33           Harford          1.072        14.736
66           Leflore          1.025        15.606
61      Androscoggin          0.650         9.894
13              Napa          0.005         7.514
18       Walla Walla          0.005         7.745
43          Charlton          0.005         4.003

In [344]:
len(df)

57

In [345]:
df[df.R2SCOREBEFORE >= -1].mean()

R2SCOREBEFORE    4.507
R2SCOREAFTER    21.135
dtype: float64

In [346]:
len(df[df.R2SCOREBEFORE <= 0.001])

0