In [77]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv("./r2_score.csv", index_col=0)

In [78]:
df = df[df.R2SCOREBEFORE != df.R2SCOREAFTER]

In [79]:
df.R2SCOREBEFORE = (df.R2SCOREBEFORE).astype("float64")
df.R2SCOREAFTER = (df.R2SCOREAFTER.astype("float64"))

In [80]:
df = df.sort_values("R2SCOREBEFORE", ascending=False)

In [81]:
df.head(57)

              COUNTY                       R2SCOREBEFORE  R2SCOREAFTER
37   Prince George's                               0.993    -12140.899
35              Pima                               0.991   -393244.853
2        Los Angeles                               0.983    -92117.585
32           Fairfax                               0.974    -37845.589
5               Dane                               0.973   -654617.379
23             Pinal                               0.973    -88826.392
15           Manatee                               0.954    -66980.533
17           Grafton                               0.953   -111843.369
21        Santa Rosa                               0.949    -84030.067
41             Pasco                               0.949   -225568.659
8         Sacramento                               0.949   -103632.902
4      San Francisco                               0.948    -83916.420
63            Gordon                               0.943     -1585.651
42          Pinellas                               0.937  -1525150.174
44      Philadelphia                               0.936    -18807.361
61      Androscoggin                               0.935       -24.083
60          Sarasota                               0.932   -574030.260
52         St. Johns                               0.932   -874899.114
56             Bucks                               0.931    -41516.695
29           Volusia                               0.927   -398054.257
1           Maricopa                               0.926  -1205253.646
19              Wake                               0.905  -1050047.553
31          Gwinnett                               0.899   -212028.660
28          Okaloosa                               0.896   -197751.754
3        Santa Clara                               0.884  -1012797.840
67       Pearl River                               0.881    -14189.414
49           Tarrant                               0.881   -349192.886
65            Copiah                               0.881        -0.869
22            Washoe                               0.870   -165809.082
62        Tuscaloosa                               0.857    -26471.469
6          San Diego                               0.848   -111519.763
59        Palm Beach                               0.841   -329781.591
7              Bexar                               0.831  -1030880.036
33           Harford                               0.824       -53.099
14            Sonoma                               0.801         0.633
10           Spokane                               0.796      -254.130
40           Collier                               0.791   -339014.441
55           Forrest                               0.786     -2321.893
20         Fort Bend                               0.773   -324854.016
51        Miami-Dade                               0.772   -103146.538
66           Leflore                               0.768     -1255.525
16           Norfolk                               0.757     -8089.000
38            Collin                               0.756  -1413826.712
64       St. Charles                               0.730   -863654.653
0          Snohomish                               0.676   -238097.945
30              Cobb                               0.647   -226638.131
58             Gregg                               0.637        -0.564
39           Alachua                               0.580   -694107.150
24           Broward                               0.557   -303234.134
12             Marin                               0.477        -0.132
53            Bartow                               0.167   -212431.367
54             Caddo                              -1.066      -915.695
107         Ouachita                              -1.420     -2510.080
9             Solano                             -43.830    -46880.337
43          Charlton -110402368397727673987511615488.000        -0.747
18       Walla Walla -110416674366086795315789168640.000        -0.736
13              Napa -110418934973238005878914809856.000        -1.072

In [82]:
len(df)

57