In [153]:
import pandas as pd
import numpy as np
from SIRModel import *
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv("./r2_score.csv", index_col=0)

In [154]:
df = df[df.R2SCOREBEFORE != df.R2SCOREAFTER]
def cool_function(x):
    array = np.array(x)
    for i, item in enumerate(array):
        if item <= -10:
            array[i] = -np.log(-item)
        elif -1 >= item > -10:
            array[i] = -item/np.floor(item)
        else:
            array[i] = item
    return array
def cooler_function(x):
    OldRange = (max(x) - min(x))  
    NewRange = (0 + 1)  
    NewValue = (((x - min(x)) * NewRange) / OldRange) -1
    return NewValue

In [155]:
df.R2SCOREBEFORE = (cool_function((df.R2SCOREBEFORE).astype("float64")))
df.R2SCOREAFTER = cooler_function(cool_function(df.R2SCOREAFTER.astype("float64")))

In [156]:
df = df.sort_values("R2SCOREBEFORE", ascending=False)

In [160]:
df[df.R2SCOREBEFORE >= -1].head(57)

              COUNTY  R2SCOREBEFORE  R2SCOREAFTER
37   Prince George's          0.993        -0.675
35              Pima          0.991        -0.909
2        Los Angeles          0.983        -0.811
32           Fairfax          0.974        -0.751
5               Dane          0.973        -0.943
23             Pinal          0.973        -0.809
15           Manatee          0.954        -0.790
17           Grafton          0.953        -0.824
21        Santa Rosa          0.949        -0.805
41             Pasco          0.949        -0.871
8         Sacramento          0.949        -0.819
4      San Francisco          0.948        -0.805
63            Gordon          0.943        -0.538
42          Pinellas          0.937        -1.000
44      Philadelphia          0.936        -0.704
61      Androscoggin          0.935        -0.257
60          Sarasota          0.932        -0.934
52         St. Johns          0.932        -0.963
56             Bucks          0.931        -0.758
29           Volusia          0.927        -0.910
1           Maricopa          0.926        -0.984
19              Wake          0.905        -0.975
31          Gwinnett          0.899        -0.867
28          Okaloosa          0.896        -0.863
3        Santa Clara          0.884        -0.972
67       Pearl River          0.881        -0.685
49           Tarrant          0.881        -0.901
65            Copiah          0.881        -0.101
22            Washoe          0.870        -0.851
62        Tuscaloosa          0.857        -0.727
6          San Diego          0.848        -0.824
59        Palm Beach          0.841        -0.897
7              Bexar          0.831        -0.974
33           Harford          0.824        -0.310
14            Sonoma          0.801         0.000
10           Spokane          0.796        -0.415
40           Collier          0.791        -0.899
55           Forrest          0.786        -0.564
20         Fort Bend          0.773        -0.896
51        Miami-Dade          0.772        -0.819
66           Leflore          0.768        -0.522
16           Norfolk          0.757        -0.648
38            Collin          0.756        -0.995
64       St. Charles          0.730        -0.962
0          Snohomish          0.676        -0.875
30              Cobb          0.647        -0.872
58             Gregg          0.637        -0.080
39           Alachua          0.580        -0.947
24           Broward          0.557        -0.891
12             Marin          0.477        -0.051
53            Bartow          0.167        -0.867
54             Caddo         -0.533        -0.501
107         Ouachita         -0.710        -0.569

In [158]:
len(df)

57